@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #0b1147;
    font-family: "Anta", sans-serif;
    color: white;
    overflow-x: hidden;
}

canvas {
    position: absolute;
    bottom: 0;
}

.switch {
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    font-family: "Anta", sans-serif;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid black;
    background-color: red;
    user-select: none;
    position: absolute;
}

.switchOutput {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #ccc;
    border-radius: 8px;
    top: 23px;
    left: 53px;
}

.and {
    height: 50px;
    width:  80px;
    text-align: center;
    line-height: 50px;
    font-family: "Anta", sans-serif;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: grey;
    position: absolute;
    user-select: none;
}

.gateInputOutput:hover {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transform: translate(-3px, -3px);
    transition: all 0.3s;
}

.andInput1 {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: #ccc;
    position: absolute;
    left: -7px;
    top: 7px;
}

.andInput2 {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: #ccc;
    position: absolute;
    left: -7px;
    top: 28px;
}

.andOutput1 {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: #ccc;
    position: absolute;
    left: 73px;
    top: 18px;
}

#stage {
    width: 100%;
    height: 90vh;
    position: absolute;
    bottom: 0;
    background-color: #070b30;
}